{% load staticfiles %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/media/admin.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <a role="button"><i class="fa fa-circle text-success"></i> En linea</a>
                <p></p>
                <p role="button" style="margin-left: 2em">{{ request.user }}</p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">MENU DE NAVEGACIÓN</li>
            <li><!-- Inicio -->
                <a href="{% url 'projectman:dashboard' %}">
                    <i class="fa fa-home"></i><span>Inicio</span>
                </a>
            </li>
                <li class="header">Proyectos</li>
            {% if request.user.is_project_manager %}
                <li class="treeview"><!-- Proyectos -->
                    <a href="#">
                        <i class="fa fa-briefcase"></i> <span>Proyectos</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'projectman:build_project' %}"><i class="fa fa-file-o"></i> Nuevo Proyecto</a></li>
                        <li><a href="{% url 'projectman:list_project' %}"><i class="fa fa-list"></i> Lista Proyectos</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.is_client %}
                <li class="treeview"><!-- Proyectos -->
                    <a href="#">
                        <i class="fa fa-briefcase"></i> <span>Mis Proyectos</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'projectman:list_project_client' request.user.id %}"><i class="fa fa-list"></i> Lista Proyectos</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="treeview"><!-- Tareas -->
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>Tareas</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'projectman:build_task' %}"><i class="fa fa-file-o"></i> Nueva Tarea</a></li>
                    <li><a href="{% url 'projectman:list_task' %}"><i class="fa fa-list"></i> Lista Tareas</a></li>
                </ul>
            </li>
            <li class="treeview"><!-- Comentarios -->
                <a href="#">
                    <i class="fa fa-comments"></i> <span>Comentarios</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'projectman:build_comment' %}"><i class="fa fa-file-o"></i> Nuevo Comentario</a></li>
                    <li><a href="{% url 'projectman:list_comment' %}"><i class="fa fa-list"></i> Lista Comentarios</a></li>
                </ul>
            </li>
           {% if request.user.is_project_manager %}
            <li class="header">Usuarios</li>
                <li class="treeview"><!-- Check List -->
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>Usuarios</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href=""><i class="fa fa-circle-o"></i> Nuevo</a></li>
                        <li><a href=""><i class="fa fa-list"></i> Lista</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>