<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MS - Dashboard</title>
</head>
<body>

<h1> Bienvenido {{ request.user }}</h1>

{% if request.user.user_type == 'Seller' %}
    <ul>
        <li><a href="{% url 'musicshop:create_order' %}">Registrar Pedido.</a></li>
        <li><a href="{% url 'musicshop:create_tarticle' %}">Crear Tipo Articulo.</a></li>
        <li><a href="{% url 'musicshop:create_article' %}">Crear Articulo.</a></li>
        <li><a href="{% url 'musicshop:view_orders' %}">Ver pedidos.</a></li>
        <li><a href="{% url 'musicshop:view_article' %}">Ver Articulos.</a></li>
    </ul>
{% else %}
    <ul>
        <li><a href="{% url 'musicshop:view_orders' %}">Ver pedidos.</a></li>
        <li><a href="{% url 'musicshop:view_article' %}">Ver Articulos.</a></li>
    </ul>
{% endif %}


<hr>
<a href="{% url 'musicshop:logout' %}">Logout</a>

</body>
</html>