{% extends 'base/base.html' %}
{% block titulo_ventana %} Eliminar pedido {% endblock %}


{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-md-8">
            <div class="box box-warning">
                <div class="box-body" >
                    <div id="contenido1" class="form-group">
                         <h3>¿Desea eliminar el registro del pedido {{ object.pedido }}?</h3>
                         <button class="btn btn-danger" type="submit">Eliminar</button>
                         <a class="btn btn-default" href="{% url 'pedidos:pedido_list' %}">Cancelar</a>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!--/.col (left) -->
    </form>
{% endblock %}