{% extends 'registration/base.html' %}
{% load i18n %}
{% block titulo_ventana %} {{ title }} {% endblock %}
{% block titulo %} {{ title }} {% endblock %}
{% block contenido %}
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <a href="{% url 'login' %}" class="btn btn-primary">{% trans 'Log in' %}</a>

{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        body{zoom: 120%;}
        .login-box, .register-box {width: 440px;}
    </style>
{% endblock %}
