{% extends 'registration/base.html' %}
{% block titulo_ventana %} Restablecer contraseña {% endblock %}
{% block titulo %} Restablecer contraseña {% endblock %}
{% block subtitulo %} Introduzca su correo para continuar con el restablecimiento de contraseña {% endblock %}
{% block contenido %}

    {% if form.non_field_errors %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="fa fa-warning"></i> Error!</h4>
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
            <input type="text"
                   class="form-control input-lg"
                   value="{{ form.email.value|default:"" }}"
                   name="{{ form.email.name }}"
                   placeholder="{{ form.email.label }}"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            {% if form.email.errors %}
                <div class="ul-no-style ">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-flat btn-lg">Enviar</button>
        <a type="button" href="{% url 'login' %}" class="btn btn-default btn-block btn-flat">Volver</a>
    </form>

{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        body{zoom: 120%;}
    </style>
{% endblock %}
