{% extends 'registration/base.html' %}
{% load i18n %}
{% block titulo_ventana %} {{ title }} {% endblock %}
{% block titulo %} {{ title }} {% endblock %}
{% block contenido %}
    {% if validlink %}
        {% block subtitle %} <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p> {% endblock %}

        {% if form.non_field_errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="fa fa-warning"></i> Error!</h4>
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post" action="" class="needs-validation" novalidate autocomplete="off">
            {% csrf_token %}

            <div class="form-group has-feedback {% if form.new_password1.errors %}has-error{% endif %}">
                <input type="password"
                       class="form-control input-lg"
                       name="{{ form.new_password1.name }}"
                       placeholder="{{ form.new_password1.label }}"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                {% if form.new_password1.errors %}
                    <div class="ul-no-style ">{{ form.new_password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group has-feedback {% if form.new_password2.errors %}has-error{% endif %}">
                <input type="password"
                       class="form-control input-lg"
                       name="{{ form.new_password2.name }}"
                       placeholder="{{ form.new_password2.label }}"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                {% if form.new_password2.errors %}
                    <div class="ul-no-style ">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-flat btn-lg" name="login" type="submit">
                {% trans 'Change my password' %}
            </button>
        </form>
    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}

    {% block extrastyle %}
        <style type="text/css">
            body{zoom: 110%;}
        </style>
    {% endblock %}
{% endblock %}