{% load staticfiles %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <ul class="sidebar-menu">
            <li class="header">MENU DE NAVEGACIÓN</li>
            <li><!-- Inicio -->
                <a href="{% url 'pedidos:index' %}">
                    <i class="fa fa-home"></i><span>Inicio</span>
                </a>
            </li>
                <li class="header">Proyectos</li>
                <li class="treeview"><!-- Proyectos -->
                    <a href="#">
                        <i class="fa fa-briefcase"></i> <span>Pedidos</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'pedidos:pedido_create' %}"><i class="fa fa-file-o"></i> Nuevo Pedido</a></li>
                        <li><a href="{% url 'pedidos:pedido_list' %}"><i class="fa fa-list"></i> Lista Pedidos</a></li>
                    </ul>
                </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>