{% extends 'base/base.html' %}
{% block titulo_ventana %} Proyectos {% endblock %}
{% block titulo %} Proyectos {% endblock %}
{% block subtitulo %}
    Lista de proyectos
    <a href="{% url 'proyecto:nuevo' %}" type="button" class="btn btn-primary">
        Nuevo proyecto
    </a>
{% endblock %}
{% block contenido %}
    <div class="col-xs-12">
        <div class="box">
            {% include 'inclusion_tags/messages.html' %}
            <div class="box-header">
                <h3 class="box-title">Tabla de proyectos </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-striped datatable-active" width="100%">
                    <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Descripción</th>
                        <th>fecha de creacion</th>
                        <th>Creador</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.nombre }}</td>
                            <td>{{ proyecto.descripcion }}</td>
                            <td>{{ proyecto.fecha }}</td>
                            <td>{{ proyecto.usuario_creador.username }}</td>
                            <td>{{ proyecto.get_name_estado }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acción <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ proyecto.get_absolute_url }}">Editar</a></li>
                                        <li><a role="button" data-toggle="modal" class="btn-eliminar"
                                               id="{{ proyecto.slug }}"
                                               name="{{ proyecto.nombre }}"
                                               data-target="#modal-eliminar">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->

{# Modal de eliminar #}
    {% include 'inclusion_tags/modal_eliminar.html' %}

{% endblock %}
{% block extrascript %}
    <script !src="">deleteModalForm("proyecto", "el proyecto");</script>
{% endblock %}
