{% extends 'base/base.html' %}
{% load staticfiles %}
{% block titulo_ventana %} Nuevo proyecto {% endblock %}
{% block titulo %} Nuevo proyecto {% endblock %}
{% block subtitulo %} Crear un proyecto {% endblock %}

{% block contenido %}
{% include 'inclusion_tags/messages.html' %}
<form role="form" method="post" novalidate>
     {% csrf_token %}
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Datos del proyecto</h3>
            </div><!-- /.box-header -->

            <!-- form start -->
                <div class="box-body">

                     <div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
                        <label class="control-label">
                            {% if form.nombre.errors %}
                                <i class="fa fa-times-circle-o"></i>
                            {% endif %}
                            {{ form.nombre.label }}
                        </label>
                        {{ form.nombre }}
                        {% if form.nombre.errors %}
                            <div class="ul-no-style ">{{ form.nombre.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group {% if form.descripcion.errors %}has-error{% endif %}">
                        <label class="control-label">
                            {% if form.descripcion.errors %}
                                <i class="fa fa-times-circle-o"></i>
                            {% endif %}
                            {{ form.descripcion.label }}
                        </label>
                        {{ form.descripcion }}
                        {% if form.descripcion.errors %}
                            <div class="ul-no-style ">{{ form.descripcion.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group {% if form.estado.errors %}has-error{% endif %}">
                        <label class="control-label">
                            {% if form.estado.errors %}
                                <i class="fa fa-times-circle-o"></i>
                            {% endif %}
                            {{ form.estado.label }}
                        </label>
                        {{ form.estado }}
                        {% if form.estado.errors %}
                            <div class="ul-no-style ">{{ form.estado.errors }}</div>
                        {% endif %}
                    </div>
                    <p class="help-block">NOTA: Si el estado es <u>desactivo</u>,
                        no podra crear estudios, preguntas ni ideas relacionadas con este.
                        Solo podrá visualizar los registros ya existenes.</p>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    {% block footer_form %}
                        <button type="submit" class="btn btn-primary">Crear proyecto</button>
                    {% endblock %}
                </div>
        </div><!-- /.box -->

    </div><!--/.col (left) -->

    <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Expertos a asignar</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <div class="form-group">
                        <label>Usuarios</label>
                        <div class="clearfix"></div>
                        {{ form.usuarios_expertos }}
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="descripcion">Expertos para este proyecto</label>
                        <table class="table table-hover table-bordered table-striped" id="tabla_usuarios">
                            <thead>
                            <tr>
                                <th>Experto</th>
                            </tr>
                            </thead>
                            <tbody id="cuerpo-tabla" class="input-no-style"></tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!--/.col (left) -->
    </form>
{% endblock %}
{% block extrascript %}
    <script src="{% static 'dist/js/table_selectMultiple.js' %}" type="text/javascript"></script>
{% endblock %}